.navmenu {
    border-radius: 0 $bRadius $bRadius 0;
    padding: 20px 10px 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in !important;
    @include flexAlign(column,space-between);

    &__box {
        @include flexAlign(column,space-between,center);
        overflow: hidden;
    }

    &__inner-box {
        width: 100%;
        @include flexAlign(column,null,center);
        margin: 5px 0 10px;
    }
    
    &__logo {
        border-radius: $bRadius;
        width: 40px;
    }

    &__profile {
        width: 100%;
        padding: 5px 0;
        border-radius: $bRadius;
        @include flexAlign(row,flex-start,center);
        margin-top: 10px;
        img {
            width: 45px;
            margin: 0 0 0 10px;
            border-radius: 50%;
        }

        p {
            margin: 0 0 0 10px;
        }

        p:nth-of-type(1){
            font-size: $large-font-size;
        }

        p:nth-of-type(2){
            font-size: $medium-font-size;
            color: $dark-text;
        }
    }

    &__title {
        font-size: $small-font-size;
      }

    &__toggle-btn {
        position: absolute;
        top:35px;
        right: -10px;
        @include flexAlign(row,center,center);
        padding: 5px;
        border-radius: $bRadius;
        cursor: pointer;

        svg {
            transition: all 0.3s ease;
        }
    }

    &__icon {
        padding: 10px;
    }

    &__item {
        border-radius: $bRadius;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &__link {
        @include flexAlign(row,null,center);
    }

    @at-root .navmenu_collapsed {
        transition: width 0.5s ease;
        width: 65px;
    }

    @at-root .navmenu_expanded {
        transition: width 0.5s ease;
        width: 180px;
    
        .navmenu__inner-box {
            @include flexAlign(null,null,flex-start);
        }
        .navmenu__box {
            @include flexAlign(null,null,flex-start);
        }
        .navmenu__title {
            padding: 0 10px;
        }
        .navmenu__logo {
            margin: 0 10px;
        }
        .navmenu__item {
            width: 100%;
            font-size: $large-font-size;
            border-radius: $bRadius;
        }
    }
}