//general
$body-bg:rgb(224,227,232);
$bRadius: 8px;

//light mode
$light-bg: white;
$light-text-hover:#3360F2;
$light-bg-hover:rgb(227,237,250);
$light-text:rgb(97, 97, 97);
$light-title:rgb(149, 149, 149);
$light-profile-bg:rgb(242, 242, 242);
$light-profile-title: rgb(93, 93, 93);

//dark mode
$dark-bg: rgb(27,28,32);
$dark-text-hover: white;
$dark-bg-hover: rgb(49,51,53);
$dark-text: rgb(162, 162, 162);
$dark-title: rgb(149, 149, 149);
$dark-profile-bg: rgb(49,51,53);
$dark-profile-title: rgb(214, 214, 214);
$dark-collapse-btn-bg:rgb(50, 49, 49);

//text
$small-font-size:10px;
$medium-font-size:12px;
$large-font-size:13px;